
@media (min-width: 320px){
    .gallery{
        display: none;
        justify-items: center;
        background-color: #383b42;
        border-radius: 15px;
        grid-template-columns: repeat(4,1fr);
        padding: 1.5vw;
        gap: 20px ;
    }
    .main-layout .editor{
        grid-area: 4/1/5/2
    }
    .options-container {
        grid-area: 2/1/3/2;
        display: grid;
        grid-template-rows: 16.66% 16.66% 33% 16.66% 16.66%;
        justify-items: center;
        align-items: center;
        box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
        border-radius: 30px;
        background-color: #bbc4d1;
        opacity: 1;
        gap: 10px;
        /* padding: 40px; */
      }
}


@media (min-width: 640px){
    .gallery{
        display: none;
        justify-items: center;
        background-color: #383b42;
        border-radius: 15px;
        grid-template-columns: repeat(6,1fr);
        padding: 1.5vw;
        gap: 20px ;
    }
    .main-layout .editor{
        grid-area: 4/1/5/3;
    }
    .options-container {
        grid-area: 1/2/2/3;
        display: grid;
        grid-template-rows: 16.66% 16.66% 33% 16.66% 16.66%;
        justify-items: center;
        align-items: center;
        box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
        border-radius: 30px;
        background-color: #bbc4d1;
        opacity: 1;
        gap: 10px;
        /* padding: 40px; */
      }
}