.modal {
  position: fixed;
  display: none;
  top: 40%;
  left: 40%;
  right: 40%;
  font-weight: bold;
  color: aliceblue;
  background-color: #ee3939;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* .modal1 {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 30%;
  left: 30%;
  right: 30%;
  font-weight: bold;
  color: aliceblue;
  background-color: #2b2b2b;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.modal1 button {
  border-radius: 40%;
  position: fixed;
  top: 29.5%;
  right: 29.5%;
  cursor: pointer;
} */
